global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  receiver: 'default'

receivers:
- name: 'default'
  slack_configs:
  - api_url: 'http://localhost/slack'  # заглушка
    channel: '#netology-alerts'
